<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>设计模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78258D4520918F5D007AD06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78258D5D20918F5E007AD06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78258D6820918F5F007AD06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
