<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<array>
		<string>ssmsm</string>
		<string>lslslsl</string>
		<string>slsls</string>
		<string>slsl</string>
		<string>lslsl</string>
		<string>sllslsddddddddd </string>
	</array>
	<key>dldldl</key>
	<array>
		<string>ddd</string>
		<string>slslsllsll</string>
	</array>
	<key>llll</key>
	<array>
		<string>dlldldl</string>
	</array>
</dict>
</plist>
