<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>刚刚</string>
		<key>message</key>
		<string>好好学习，天天向上！</string>
		<key>name</key>
		<string>小赵</string>
		<key>icon</key>
		<string>01.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午10:21</string>
		<key>message</key>
		<string>晚上请你吃饭</string>
		<key>name</key>
		<string>大鹏</string>
		<key>icon</key>
		<string>02.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午9:51</string>
		<key>message</key>
		<string>在干嘛</string>
		<key>name</key>
		<string>令狐冲</string>
		<key>icon</key>
		<string>03.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午8:51</string>
		<key>message</key>
		<string>智哥，你永远那么帅</string>
		<key>name</key>
		<string>球球</string>
		<key>icon</key>
		<string>04.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>凌晨0:21</string>
		<key>message</key>
		<string>发工资了，好开心啊</string>
		<key>name</key>
		<string>楠楠</string>
		<key>icon</key>
		<string>05.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>message</key>
		<string>中午老地方吃饭，我等你们</string>
		<key>name</key>
		<string>诗诗</string>
		<key>icon</key>
		<string>06.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>message</key>
		<string>还是看你顺眼！</string>
		<key>name</key>
		<string>允儿</string>
		<key>icon</key>
		<string>07.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>message</key>
		<string>记得看《跑男》哟</string>
		<key>name</key>
		<string>Angelbaby</string>
		<key>icon</key>
		<string>10.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>前天</string>
		<key>message</key>
		<string>你看我帅不帅？</string>
		<key>name</key>
		<string>贱男</string>
		<key>icon</key>
		<string>08.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>前天</string>
		<key>message</key>
		<string>大家说我唱歌很好听</string>
		<key>name</key>
		<string>海子</string>
		<key>icon</key>
		<string>09.png</string>
	</dict>
</array>
</plist>
